[Desktop Entry]
Version=1.0
Name=Pizarra
GenericName=Drawing tool
Comment=Make amazing drawings
Exec=/usr/bin/pizarra %F
Icon=/usr/share/icons/hicolor/scalable/apps/pizarra.svg
Terminal=false
Type=Application
MimeType=image/svg+xml;
StartupNotify=false
Categories=Graphics;VectorGraphics;
Keywords=drawing;slideshow;
