[Desktop Entry]
Version=1.0
Name=Pizarra
GenericName=Drawing tool
Comment=Make amazing drawings
Exec=/home/abraham/src/pizarra/target/release/pizarra %u
Icon=/home/abraham/src/pizarra/res/pizarra128.png
Terminal=false
Type=Application
MimeType=image/svg+xml;
StartupNotify=false
Categories=Graphics;VectorGraphics;
Keywords=drawing;slideshow;
