[Desktop Entry]
Name=Pizarra
GenericName=Take notes
Comment=Take notes like a pro
TryExec=/usr/bin/pizarra
Exec=/usr/bin/pizarra %f
Icon=/usr/share/icons/hicolor/scalable/apps/pizarra.svg
Terminal=false
Type=Application
MimeType=image/svg+xml;
StartupNotify=false
Categories=Graphics;VectorGraphics;
Keywords=drawing;slideshow;
